.header-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.logo {
  display: flex;
  justify-content: center;
  z-index: 1;
  margin-bottom: -225px;
}

.header {
  height: 300px;
  .recipe-detail-header & {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .header {
    display: block;
    .recipe-detail-header & {
      display: block;
    }
  }
}
