.recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe {
  max-width: 300px;
  margin: 30px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

.recipe-title {
  border-radius: 10px;
  min-height: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bolder;
}
.recipe-big-title {
  text-align: center;
}

.recipe-image {
  height: 300px;
}
.image {
  height: 300px;
  border-radius: 6px;
}
.search-bar-close {
  margin-top: 10px;
  margin-left: -25px;
}

.search-button {
  background-color: red;
  border-radius: 30px;
  height: 48px;
  width: 48px;
  position: fixed;
  right: 50px;
  bottom: 70px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.search-performance-action {
  display: none;
}

.favorites-button {
  display: block;
  text-align: center;
  height: 35px;
  margin-left: 10px;
  background-color: rgb(84, 84, 160);
  color: whitesmoke;
}

.search-bar {
  display: none;
}

.recipe-tags {
  flex-direction: row;
  min-height: 0;
  flex-wrap: wrap;
  display: flex;
}

.tag {
  border-radius: 15px;
  background-color: rgb(81, 83, 209);
  color: whitesmoke;
  margin: 10px;
  padding: 7px;
}

@media screen and (min-width: 600px) {
  .recipes {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1680px;
    margin: 0 auto;
  }
  .recipe {
    max-width: 300px;
    margin: 30px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
  }

  .search-button {
    display: none;
  }
  .search-bar {
    text-align: center;
    height: 70px;
    display: flex;
    justify-content: center;
  }
  .search-performance-action {
    display: block;
    text-align: center;
    height: 35px;
    margin-left: 10px;
    background-color: green;
    color: whitesmoke;
  }
  .search-bar-input {
    border-radius: 5px;
    height: 30px;
    width: 300px;
    background-color: rgb(230, 225, 225);
  }
  .recipe-tags {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    justify-content: center;
    margin-top: 20px;
    min-height: 0;
  }

  .recipe-image {
    height: 280px;
    margin: auto 0;
  }
  .image {
    height: 300px;
    max-height: auto;
    width: 300px;
    object-fit: cover;
  }
}
