.recipe-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipe-detail-image-container {
  height: 350px;
  width: 350px;
}
.recipe-detail-image {
  max-height: 350px;
  object-fit: cover;
}
.recipe-detail-content {
  width: 300px;
  text-align: left;
  flex-direction: column;
}
.recipe-detail-content-ingredients {
  padding: 10px;
}
.recipe-detail-content-content {
  font-weight: bolder;
  padding: 10px;
}
.recipe-detail-content-instructions {
  padding: 10px;
}
.recipe-detail-content-detail {
  padding: 10px;
}

.navBar {
  background-color: grey;
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.arrow {
  margin-left: 5px;
  flex: 1;
  align-self: "center";
}

.heart {
  margin-right: 5px;
  align-self: "center";
  display: block;
  .recipe-big-title & {
    display: none;
  }
}
.recipe-image {
  margin: auto 0;
}

@media screen and (min-width: 600px) {
  .recipe-detail {
    max-width: 1024;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
  }
  .recipe-detail-image-container {
    margin-right: 100px;
  }

  .recipe-detail-image {
    height: 300px;
    max-height: auto;
    width: 300px;
    object-fit: cover;
    margin-top: 20px;
  }

  .recipe-detail-content {
    display: flex;
    text-align: left;
    flex-direction: column;
  }

  .navBar {
    display: none;
  }
  .heart {
    display: none;
    .recipe-big-title & {
      display: block;
    }
  }
}
